.counter-wrapper {
    height: 300px;
    width: 400px;
    background-color: var(--sidebar-background-color-main);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        left: 2.5%;
        width: 95%;
        height: 100%;
        background-color: var(--sidebar-background-color-main);
        filter: opacity(.8);
        border-radius: 15px;
        z-index: -1;
    }
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 12px;
        left: 5%;
        width: 90%;
        height: 100%;
        background-color: var(--sidebar-background-color-main);
        filter: opacity(.3);
        border-radius: 15px;
        z-index: -2;
    }
    .counter-header {
        text-align: center;
        margin: 0;
        padding: 30px 0 15px;
        font-size: 2em;
    }
    .counter-text {
        text-align: center;
        margin: 0;
        padding: 15px 0;
        font-size: 3em;
        font-weight: 600;
    }
    .counter-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .counter-button {
            width: 60px;
            height: 40px;
            margin: 0 20px;
            color: white;
            font-size: 1.5rem;
            text-align: center;
            border: none;
            border-radius: 5px;
            transition: all .1s ease-in-out;
            &.minus {
                background: red;
            }
            &.plus {
                background: green;
            }
            &.reset {
                background-color: black;
                font-size: .7rem;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}
.modal-counter-title{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2em;
}
.modal-counter-text{
    margin: 0;
    padding: 25px;
    font-size: .8em;
    span{
        font-weight: 600;
    }
}