.pointer-wrapper{
    height: 99%;
    width: 99%;
    position: relative;
    z-index: 1;
    margin: auto;
    .pointer{
        position: absolute;
        background: black;
        border-radius: 50%;
        z-index: 1;
        transition: width 0.1s ease-in-out;
        transition: height 0.1s ease-in-out;
    }
}