.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: var(--sidebar-background-color-main);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    &.hidden {
        right: -250px;
    }
    .sidebar-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        img{
            transition: all .3s ease-in-out;
        }
        .sidebar-close-button {
            height: 50px;
            width: 50px;
            padding: 15px;
            align-self: flex-end;
            &.hidden {
                right: -265px;
            }
            &:hover {
                    cursor: pointer;
            }
        }

        .sidebar-burger {
            height: 50px;
            width: 50px;
            position: fixed;
            top: 15px;
            right: 15px;
            &.hidden{
                transform: translate(100px, 0);
            }
            &:hover {
                    cursor: pointer;
                }
        }

        .sidebar-logo {
            position: absolute;
            top: 15px;
            left: 15px;
            img{
                height: 50px;
                width: 50px;
            }
        }
    }

    
}