@media screen and (max-width: 850px) {
    .quiz{
        width: 80% !important;
    }
    .counter-wrapper{
        width: 80% !important;
    }
    .modal{
        font-size: 18px;
        width: calc(95% - 60px);
    }
    .quiz-wrapper .quiz-question-text{
        font-size: 1rem !important;
    }
}