:root{
    --main-color:linear-gradient(225deg, rgba(214, 226, 245, 1) 0%, rgba(253, 254, 255, 1) 50%, rgba(0, 12, 83, 1) 100%);
    --sidebar-background-color-main: rgb(255,255,255);
    --accent-color: rgba(0, 12, 83, 1);
}