:root{
    --main-color: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(219, 188, 247, 1) 56%, rgba(73, 0, 149, 1) 100%);
    --sidebar-background-color-main: rgb(255,255,255);
    --accent-color: #ceaaff;
}