@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color:linear-gradient(225deg, rgba(214, 226, 245, 1) 0%, rgba(253, 254, 255, 1) 50%, rgba(0, 12, 83, 1) 100%);
  --sidebar-background-color-main: rgb(255,255,255);
  --accent-color: rgba(0, 12, 83, 1);
}

html {
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.undermodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.undermodal-gray {
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: 0.5s ease-in-out 0s 1 grayIn;
}
.undermodal .modal {
  animation: 0.5s ease-in-out 0s 1 modalIn;
  position: absolute;
  max-width: 95%;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 15px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.undermodal .modal .modal-close-christ {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
  background-image: url(../img/close.svg);
  transition: all 0.15s ease-in-out;
}
.undermodal .modal .modal-close-christ:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.undermodal .modal-close {
  border-radius: 5px;
  border: 1px solid black;
  background: none;
  margin: 0;
  transition: all 0.15s ease-in-out;
  font-size: 0.9rem;
  padding: 10px 30px;
}
.undermodal .modal-close.link {
  padding: 0;
  width: 150px;
}
.undermodal .modal-close a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  color: black;
}
.undermodal .modal-close a:hover {
  color: white;
}
.undermodal .modal-close:hover {
  cursor: pointer;
  background: var(--accent-color);
  color: white !important;
  transform: scale(1.05);
}

@keyframes modalIn {
  from {
    top: 150%;
  }
  to {
    top: 50%;
  }
}
@keyframes grayIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .quiz {
    width: 80% !important;
  }
  .quiz-answer {
    width: calc(100% - 40px) !important;
  }
  .counter-wrapper {
    width: 80% !important;
  }
  .modal {
    font-size: 18px;
    width: calc(95% - 60px);
  }
  .quiz-wrapper .quiz-question-text {
    font-size: 1rem !important;
  }
  .converter-form {
    flex-direction: column;
  }
  .converter-swap {
    top: calc(50% + 1.2rem) !important;
  }
  .converter-form-box {
    margin: 0 50px 50px 50px !important;
  }
  .converter-numbers-text {
    margin: 15px 0 !important;
  }
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background: var(--sidebar-background-color-main);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.2);
}
.sidebar.hidden {
  right: -250px;
  box-shadow: none;
}
.sidebar .sidebar-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-wrapper img {
  transition: all 0.3s ease-in-out;
}
.sidebar .sidebar-wrapper .sidebar-close-button {
  height: 50px;
  width: 50px;
  padding: 15px;
  align-self: flex-end;
}
.sidebar .sidebar-wrapper .sidebar-close-button.hidden {
  right: -265px;
}
.sidebar .sidebar-wrapper .sidebar-close-button:hover {
  cursor: pointer;
}
.sidebar .sidebar-wrapper .sidebar-burger {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 15px;
  right: 15px;
}
.sidebar .sidebar-wrapper .sidebar-burger.hidden {
  transform: translate(100px, 0);
}
.sidebar .sidebar-wrapper .sidebar-burger:hover {
  cursor: pointer;
}
.sidebar .sidebar-wrapper .sidebar-logo {
  position: absolute;
  top: 15px;
  left: 15px;
}
.sidebar .sidebar-wrapper .sidebar-logo img {
  height: 50px;
  width: 50px;
}

.app_wrapper {
  background: var(--main-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app_wrapper .hero-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app_wrapper .hero-text-box h1 {
  text-align: center;
  margin: 0;
  padding: 45px 0 5px;
  font-size: 3em;
}
.app_wrapper .hero-text-box .hero-title {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
}
.app_wrapper .hero-ps {
  text-align: center;
  margin: 15px 0;
  font-size: 0.5em;
}

@keyframes showUnderLine {
  from {
    width: 0%;
  }
  to {
    width: calc(100% - 30px);
  }
}
.menu-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-wrapper .menu-header {
  display: flex;
  justify-content: flex-end;
}
.menu-wrapper .menu-header-text {
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 15px;
}
.menu-wrapper .menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0 0 10vh;
}
.menu-wrapper .menu-list .menu-item {
  font-size: 0.8rem;
  text-decoration: none;
  padding: 7.5px 15px;
  position: relative;
}
.menu-wrapper .menu-list .menu-item::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  position: absolute;
  right: 15px;
  transition: all 0.15s ease-in-out;
}
.menu-wrapper .menu-list .menu-item:hover {
  cursor: pointer;
}
.menu-wrapper .menu-list .menu-item:hover::after {
  width: calc(100% - 30px);
  animation: showUnderLine 0.15s ease-in-out;
}
.menu-wrapper .real_projects {
  text-align: end;
  align-self: flex-end;
  justify-self: flex-end;
}
.menu-wrapper .real_projects_title {
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 15px;
}
.menu-wrapper .real_projects_link {
  padding: 7.5px 15px;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  position: relative;
}
.menu-wrapper .real_projects_link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  position: absolute;
  right: 15px;
  transition: all 0.15s ease-in-out;
}
.menu-wrapper .real_projects_link:hover {
  cursor: pointer;
}
.menu-wrapper .real_projects_link:hover::after {
  width: calc(100% - 30px);
  animation: showUnderLine 0.15s ease-in-out;
}

.modal-link-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.modal-link-text {
  margin: 0;
  padding: 25px;
  font-size: 0.7em;
}
.modal-link-text span {
  font-weight: 600;
}

.counter-wrapper {
  height: 300px;
  width: 400px;
  background-color: var(--sidebar-background-color-main);
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.counter-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 2.5%;
  width: 95%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.8);
  border-radius: 15px;
  z-index: -1;
}
.counter-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.3);
  border-radius: 15px;
  z-index: -2;
}
.counter-wrapper .counter-header {
  text-align: center;
  margin: 0;
  padding: 30px 0 15px;
  font-size: 2em;
}
.counter-wrapper .counter-text {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  font-size: 3em;
  font-weight: 600;
}
.counter-wrapper .counter-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-wrapper .counter-button-wrapper .counter-button {
  width: 60px;
  height: 40px;
  margin: 0 20px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.counter-wrapper .counter-button-wrapper .counter-button.minus {
  background: red;
}
.counter-wrapper .counter-button-wrapper .counter-button.plus {
  background: green;
}
.counter-wrapper .counter-button-wrapper .counter-button.reset {
  background-color: black;
  font-size: 0.7rem;
}
.counter-wrapper .counter-button-wrapper .counter-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal-counter-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.modal-counter-text {
  margin: 0;
  padding: 25px;
  font-size: 0.8em;
}
.modal-counter-text span {
  font-weight: 600;
}

.quiz-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quiz-wrapper .quiz {
  height: 500px;
  width: 800px;
  background-color: var(--sidebar-background-color-main);
  border-radius: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quiz-wrapper .quiz::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 2.5%;
  width: 95%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.8);
  border-radius: 15px;
  z-index: -1;
}
.quiz-wrapper .quiz::before {
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.3);
  border-radius: 15px;
  z-index: -2;
}
.quiz-wrapper .quiz .questions-progressbar {
  width: 80%;
  height: 10px;
  margin-top: 50px;
  background: lightgray;
  border-radius: 5px;
  position: relative;
}
.quiz-wrapper .quiz .questions-progressbar-filler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(90deg, rgb(31, 255, 236) 0%, rgb(114, 189, 255) 56%, rgb(0, 97, 187) 100%);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.quiz-wrapper .quiz .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.quiz-wrapper .quiz .questions-next-button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background: none;
  margin: 0;
  transition: all 0.15s ease-in-out;
}
.quiz-wrapper .quiz .questions-next-button:hover {
  cursor: pointer;
  background: var(--accent-color);
  color: white;
  transform: scale(1.05);
}
.quiz-wrapper .quiz-question-text {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
  font-weight: 600;
  margin: 0 auto;
}
.quiz-wrapper .quiz-answer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.quiz-wrapper .quiz-answer-wrapper .quiz-answer {
  list-style-type: none;
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 0.7rem;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
}
.quiz-wrapper .quiz-answer-wrapper .quiz-answer:hover {
  cursor: pointer;
  background: var(--accent-color);
  color: white;
  transform: scale(1.02);
}
.quiz-wrapper .quiz-answer-wrapper .quiz-answer.correct {
  background: rgba(0, 128, 0, 0.9);
  color: white;
  border: none;
}
.quiz-wrapper .quiz-answer-wrapper .quiz-answer.incorrect {
  background: rgba(255, 0, 0, 0.9);
  color: white;
  border: none;
}
.quiz-wrapper .quiz .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.quiz-wrapper .quiz .result-congr {
  font-size: 1.2rem;
  margin: 0;
}
.quiz-wrapper .quiz .result-text {
  font-size: 0.7rem;
  margin: 0;
}
.quiz-wrapper .quiz .result-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.quiz-wrapper .quiz .result-button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background: none;
  margin: 0;
  transition: all 0.15s ease-in-out;
}
.quiz-wrapper .quiz .result-button:hover {
  cursor: pointer;
  background: var(--accent-color);
  color: white;
  transform: scale(1.05);
}

.modal-quiz-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.modal-quiz-text {
  margin: 0;
  padding: 25px;
  font-size: 0.8em;
}
.modal-quiz-text span {
  font-weight: 600;
}

.pointer-wrapper {
  height: 99%;
  width: 99%;
  position: relative;
  z-index: 1;
  margin: auto;
}
.pointer-wrapper .pointer {
  position: absolute;
  background: black;
  border-radius: 50%;
  z-index: 1;
  transition: width 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}

.modal-pointer-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.modal-pointer-text {
  margin: 0;
  padding: 25px;
  font-size: 0.7em;
}
.modal-pointer-text span {
  font-weight: 600;
}

.converter {
  max-width: 95%;
  background-color: var(--sidebar-background-color-main);
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.converter::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 2.5%;
  width: 95%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.8);
  border-radius: 15px;
  z-index: -1;
}
.converter::before {
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: var(--sidebar-background-color-main);
  filter: opacity(0.3);
  border-radius: 15px;
  z-index: -2;
}
.converter-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.converter-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.converter-form-box.right {
  margin: 0 50px 50px 25px;
}
.converter-form-box.left {
  margin: 0 25px 50px 50px;
}
.converter-title {
  font-size: 1.8rem;
  text-align: center;
  max-width: 80%;
  font-weight: 600;
  margin: 0 auto;
  padding: 25px;
}
.converter-select {
  padding: 5px;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 0.7rem;
}
.converter-label {
  font-size: 1rem;
  text-align: center;
  max-width: 80%;
  font-weight: 600;
  margin: 0 auto;
  padding: 25px;
}
.converter-numbers-text {
  width: calc(100% - 25px);
  padding: 5px 5px 5px 20px;
  margin: 25px 0 0;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.7rem;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.converter-swap {
  position: absolute;
  top: calc(1.8rem + 90px);
  left: calc(50% - 26px);
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 0;
  margin: 0;
  height: 30px;
  width: 50px;
  background: transparent;
  transition: all 0.15s ease-in-out;
}
.converter-swap:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.converter-swap img {
  width: 100%;
  height: 100%;
}

#copiText {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.3rem;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.modal-converter-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.modal-converter-text {
  margin: 0;
  padding: 25px;
  font-size: 0.8em;
}
.modal-converter-text span {
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */